{% extends "main.j2" %}
{% block content %}
    <h1>{{ stock_name }}</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
        </tr>
    {% if stock_data %}
        {% for tick in stock_data %}
            <tr>
                <td>{{ tick.date }}</td>
                <td>{{ tick.open }}</td>
                <td>{{ tick.high }}</td>
                <td>{{ tick.low }}</td>
                <td>{{ tick.close }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}