{% extends "main.j2" %}
{% block content %}
    <h2>{{ insider.name }}</h2>
    <table>
        <tr>
            <th>Insider</th>
            <th>Relation</th>
            <th>Last Date</th>
            <th>Transaction Type</th>
            <th>Owner Type</th>
            <th>Shares Traded</th>
            <th>Last Price</th>
            <th>Shares Held</th>

        </tr>
    {% for insider in trades %}
        <tr>
            <td>{{ insider.insider.name }}</td>
            <td>{{ insider.insider.relation }}</td>
            <td>{{ insider.last_date }}</td>
            <td>{{ insider.transaction_type }}</td>
            <td>{{ insider.owner_type }}</td>
            <td>{{ insider.shares_traded }}</td>
            <td>{{ insider.last_price }}</td>
            <td>{{ insider.shares_held }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}