{% extends "main.j2" %}
{% block content %}
    <h2>{{ stock_name }}</h2>
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Direction</th>
        </tr>
    {% for range_ in ranges %}
        <tr>
            <td>{{ range_[0] }}</td>
            <td>{{ range_[1] }}</td>
            <td>{{ range_[2] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}